.p1{background-color: rgb(0, 47, 255);text-align: left;border-style:dotted;}
.p2{background-color: rgb(195, 0, 255);text-align: center;border-style:dashed;}
.p3{background-color: rgb(0, 255, 213);text-align: right;border-style:solid;}
.heading1{text-align: center;}